<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Redis 配置 --> 
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
        <property name="maxTotal" value="4096"/> 
        <property name="maxIdle" value="200"/> 
        <property name="maxWaitMillis" value="3000"/> 
        <property name="testOnBorrow" value="true" /> 
        <property name="testOnReturn" value="true" /> 
    </bean> 
    <!-- redis单节点数据库连接配置 
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"> 
        <property name="hostName" value="39.106.29.4" /> 
        <property name="port" value="6379" /> 
        <property name="poolConfig" ref="jedisPoolConfig" /> 
    </bean> 
    --> 
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool"> 
        <constructor-arg index="0" ref="poolConfig"/> 
        <constructor-arg index="1" value="localhost" type="java.lang.String"/> 
        <constructor-arg index="2" value="6379" type="int"/> 
    </bean>
</beans>