/* Write your styles */
html,body { margin: 0;padding: 0;width: 100%;height: 100%; text-align: center;}
#main{ width:100%; float:left; padding:10px 0;}
.ctbox{ margin:0 auto; width:700px;height:400px;background: url(http://pi6lghe8f.bkt.clouddn.com/back3.png) top no-repeat; background-size: 100%;}
/* 登陆logo */
.myapp-login { background: url(http://pi6lghe8f.bkt.clouddn.com/back2.png) top ; background-size: 100%; height: 100%;}
.myapp-login .myapp-login-bg { height: 100%; margin:0 auto;padding-top: 90px;}
.myapp-login .myapp-login-logo { width: 100%; text-align: center;}
.myapp-login .myapp-login-logo i { font-size:120px; color: #fff;}
.myapp-login .myapp-login-form { width:750px; text-align: center; background: url(http://pi6lghe8f.bkt.clouddn.com/bg.jpg) rgb(42,144,223) top no-repeat; background-size: 100%; height: 480px;}
.myapp-login .myapp-login-form  .am-form .am-form-group input { font-size: 14px; padding:10px 0;border: none; text-align: center; border-bottom: 1px solid #fff; color: #000;}
.myapp-login .myapp-login-form  .am-form .login-text {font-size: 14px; width: 100%; color: #fff; padding-top: 20px; text-align: center;}